{% extends '@EasyAdmin/page/content.html.twig' %}

{% if constant('DEPLOY_TIMESTAMP') is defined and constant('DEPLOY_TIMESTAMP') != '{DEPLOY_TIMESTAMP}' %}
    {% set asset_version = '?version=' ~ constant('DEPLOY_TIMESTAMP') %}
{% else %}
    {% set asset_version = '' %}
{% endif %}

{% block header_navbar %}
    <div id="header-logo">
        <div class="site-header">
            <a class="header-brand1" href="#">
                <span class="logo-custom">
                <img src="assets/app/img/conuti-logo-favicon.png"
                     class="header-brand-img desktop-logo" alt="logo">
                </span>
            </a>
            <div id="sidebar-resizer-handler" class="sidebar-resizer">
                <div class="sub-sidebar">
                    <a aria-label="Hide Sidebar" class="app-sidebar__toggle ms-auto" data-bs-toggle="sidebar"
                       href="#"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock header_navbar %}
