.table .thead-light th {
    background: transparent;
}

.table-striped tbody tr:nth-of-type(2n) {
    background: #f1f1f9;
}

.table-striped tbody tr {
    background: transparent;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: transparent;
}

table.dataTable.no-footer {
    border-bottom: none;
}

.dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_paginate span {
    display: flex;
    align-items: center;
}

.dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button.previous, .dataTables_wrapper .dataTables_paginate .paginate_button.next {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #eaedf1;
    color: #25252a;
    border-radius: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    user-select: none;
    color: black !important;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #eaedf1;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    background: #5e2dd8;
    border-color: #5e2dd8;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    background: #5e2dd8 !important;
    border-color: #5e2dd8 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    cursor: pointer;
    color: #5425ca !important;
    background: rgba(70, 127, 207, 0.06) !important;
    border-color: #dee2e6 !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    color: #000;
    outline: none !important;
    background-color: #f1f1f9;
    background-clip: padding-box;
    border: 1px solid #d8dde4;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 5px;
    opacity: 1;
}

div.dataTables_wrapper div.dataTables_filter input:focus {
    background-color: #fff;
    outline: 0;
    box-shadow: none;
    border: 1px solid #9ca3b1 !important;
}

.dataTables_filter {
    color: black !important;
}

.dataTables_length label {
    color: black;
}

.dataTables_info {
    color: black !important;
}

body .content-wrapper {
    max-width: 100% !important;
}
